.app {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Montserrat', sans-serif;
}

#parent__container
{
  border: none;
  padding: 0;
}

#global__container
{
  padding: 0;
  border: none;
}

.content__container {
  min-height: 100vh;
  flex: 1;
}
