.app {
  background-color: #FFEDCB;
  display: flex;
  flex-flow: column nowrap;
}

.content__container {
  min-height: 100vh;
  flex: 1;
}

.content__header
{
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header__title
{
  font-size: calc(2rem + 1vw);
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
}

.header__subtitle
{
  font-size: calc(1.5rem + 1vw);
  text-shadow: 1px 1px 0px black;
}