.header
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1a150a;
  color: white;
  padding: 1.5rem;
  font-size: calc(1rem + 1vw);
}

.header__navigation--element
{
  margin: 0 1rem;
  color: rgb(136, 136, 136);
}

.header__navigation--element:hover
{
  color: white;
}

.active
{
  color: white;
}