.header
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  color: white;
  padding: 1.5rem;
  font-size: calc(1rem + 1vw);
}

.main__title
{
  font-family: "Dancing Script", sans-serif;
  border-bottom: none;
}

.sidebar__button
{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.header__navigation--element:not(first)
{
  margin: 0 1rem;
}

.header__navigation--element
{
  color: rgb(68, 68, 68);
  transition: 0.5s;
  font-weight: bold;
}

.header__navigation--element:hover
{
  transition: 0.25s;
  color: white;
}

.header__navigation--element:focus
{
  outline: none;
}

.active
{
  color: white;
}